body {
    background-color: rgba(24, 0, 133, 0.873);
    margin-left: 1200px;
    margin-right: 500px;
    margin-top:400px;
}
.area {
    background-color: rgb(13, 13, 97);
   color: aliceblue;
   border-radius: 25px;
   width: 700px;
   height: 350px;
   background-size: cover; 
   border-radius: 7px;
   box-shadow: 15px 15px 15px rgb(18, 13, 13);
   box-shadow: 0px 10px 5px #ff00ae, 0px -10px 5px #ff00cc;
   padding-left: 45px;

}
img {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid gray;
  
}
span {
    font-weight: 200;
    font-size: smaller;
}
.coreta {
    position: absolute;
    gap: 30px;
    margin-bottom: 120px;
    
   
   
}
.wer {
    position: absolute;
    margin-left:140px ;
   margin-bottom: 100px;
}
.wert {
    position: absolute;
    margin-left: 280px;
    margin-bottom: 400px;
   
}
.werty {
    position: absolute;
    margin-left: 420px;
    margin-bottom: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}